asgiref==3.12.1
bcrypt==5.0.0
cffi==2.1.0
cryptography==49.0.0
Django==5.2.16
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
invoke==3.0.3
markdown-it-py==4.2.0
mdurl==0.1.2
netmiko==4.7.0
networkx==3.6.1
ntc_templates==9.2.0
paramiko==4.0.0
pycparser==3.0
Pygments==2.20.0
PyJWT==2.13.0
PyMySQL==1.2.0
PyNaCl==1.6.2
pyserial==3.5
PyYAML==6.0.3
rich==15.0.0
ruamel.yaml==0.19.1
scp==0.16.0
sqlparse==0.5.5
textfsm==2.1.0
gunicorn>=21.2
whitenoise>=6.6